article p,
article blockquote,
article pre,
article li:last-child,
article figure {
  @apply mb-5 leading-7;
}

article h2,
article h3,
article h4 {
  @apply mt-12 mb-4;
}

article h5 {
  @apply mt-6 mb-2;
}

article a {
  @apply text-blue-500 hover:text-blue-700 hover:underline;
}

article blockquote {
  @apply p-4 bg-white border border-gray-200;
}

article blockquote > :last-child {
  @apply mb-0;
}

article code {
  @apply font-mono text-sm inline;
}

article li code,
article p code {
  @apply text-pink-700 px-1;
}

article li code:before,
article li code:after,
article p code:before,
article p code:after {
  content: '\`';
}

article pre {
  @apply block bg-gray-900 p-4 rounded text-white overflow-x-scroll;
}

article pre code .code-highlight {
  @apply text-green-400 bg-green-600 bg-opacity-25 rounded-md px-1;
}

article figure {
  @apply m-4;
}

article figure figcaption {
  @apply text-xs mt-2 text-gray-400 text-center;
}

article figure img {
  @apply shadow-xl;
}

article ol,
article ul {
  @apply mt-4 list-inside;
}

article ol li ul {
  @apply ml-6;
}

article ol li {
  @apply list-decimal mb-1 leading-7;
}

article ul li {
  @apply list-disc mb-1 leading-7;
}

article table th {
  @apply text-left;
}

article table th,
article table td {
  @apply p-1 border-b border-gray-200;
}
